@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Informational</h2>
        <ul>
            <li>request/response info</li>
            <li>built with</li>
            <li>Load times</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Choice Overload</h2>
        <ul>
            <li>Web Frameworks</li>
            <li>Drupal Modules</li>
            <li>Wordpress plugins</li>
            <li>RubyGems</li>
            <li>.net packages</li>
            <li>js libraries</li>
            <li>service providers</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Design Tools</h2>
        <ul>
            <li>Color picker</li>
            <li>Design copier</li>
            <li>Page Skeleton/Outliner</li>
            <li>Page Sketcher</li>
            <li>Web Page Thumbnail Generator</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Protocol and Format Testers</h2>
        <ul>
            <li>Base64</li>
            <li>Hash algorithms</li>
            <li>HTTP Get/Post/Put/Update</li>
            <li>Web Sockets</li>
            <li>Json tools</li>
            <li>Xml tools</li>
        </ul>
    </div>
</div>
