@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<ul>
    <li>Most liked NPM modules</li>
    <li>Most liked Nuget packages</li>
    <li>Most liked Drupal modules</li>
    <li>Most liked RubyGems</li>
</ul>